/* 在你的 CSS 文件中 */

.custom-label {
  color: blue;
  font-size: 16px;
}

.custom-select {
  width: 100%; /* 将选择框宽度设为 100% 以适应父元素 */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333;
  border-radius: 4px;
}

.contain {
  justify-content: center; /* 水平置中 */
  align-items: center; /* 垂直置中 */
  display: flex;
  flex-direction: column; /* 在小屏幕上以列的形式显示 */
}

.slogan {
  text-align: center; /* 文字居中對齊 */
  margin-bottom: 20px; /* 底部間距，可根據需要調整 */
  font-size: 35px; /* 文字大小，可根據需要調整 */
  font-weight: bold; /*加粗文字*/
  color: #333; /* 文字顏色，可根據需要調整 */
}

.rounded-0 {
  background-color: #c0c3c0;
  color: white;
  padding: 12px; /* 调整内边距 */
  font-size: 15px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(12, 144, 221);
}

.sec-center {
  max-width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column; /* 在小屏幕上以列的形式显示 */
  align-items: center; /* 居中对齐 */
} 

.contain1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* 居中对齐 */
}

.contain2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* 居中对齐 */
  margin-top: 20px; /* 添加上方間距 */
  justify-content: "center"
}

.contain3 {
  display: flex;
  flex-direction: column;
  align-items: center; /* 居中对齐 */
  margin-top: 40px; /* 添加上方間距 */
  justify-content: "center"
}

.form-label {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* 添加底部间距 */
}

/* 添加媒体查询，根据屏幕宽度调整样式 */
@media (min-width: 768px) {
  .contain {
    flex-direction: row; /* 在大屏幕上以行的形式显示 */
  }
  .sec-center {
    flex-direction: row; /* 在大屏幕上以行的形式显示 */
  }
  .contain1,
  .contain2 {
    margin-right: 20px; /* 添加右侧间距 */
  }
  .contain3 {
    margin-left: 30PX; /* 添加右侧间距 */
    align-self: flex-end; /* 底部对齐 */
  }
}

